<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Unified</title>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
        <form action="" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <legend>File Upload</legend>
                {{ form_widget(form) }}
            </fieldset>
            <input type="submit" name="Upload File" />
       </form>
    </div><!-- /.container -->
  </body>
</html>
